[user]
	name = Gustavo M T Borges
	email = gustavo.mtborges@gmail.com
[alias]
	st = status
	lg = log  --graph --pretty=format:'%C(auto)%h -%C(auto)%d %s %C(dim blue)%an %C(green)%cr' --abbrev-commit --date=relative
	lga = log --all --graph --pretty=format:'%C(auto)%h%Creset %C(green)%cr %C(auto)%d%Creset %s %C(dim blue)%an%Creset' --abbrev-commit --date=relative
	cm = commit
	co = checkout
	br = branch
	dw = diff --word-diff
	ds = diff --staged
	ft = fetch
	rb = rebase
[push]
	default = simple
[color]
	ui = true
[core]
	editor = vim
	autocrlf = false
	eof = lf
[branch]
	autosetuprebase = always
[commit]
	template = ~/.gitmessage
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	ff = only
[mergetool]
	prompt = false
	keepBackup = false
