[user]
	name = Gustavo M T Borges
	email = gustavo.mtborges@gmail.com
[alias]
	st = status -s
	lg = log --oneline --decorate --graph --all 
	cm = commit -m
	co = checkout
	br = branch
	aa = add -A
[push]
	default = simple
[color]
	ui = true
[core]
	editor = vim
	autocrlf = false
	eof = lf
