[user]
	name = Gustavo M T Borges
	email = gustavo.mtborges@gmail.com
[alias]
	st = status
	lg = log --color --graph --pretty='%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(cyan)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --all --color --graph --pretty='%C(auto)%h%Creset -%C(auto)%d%Creset %s %C(cyan)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cm = commit
	co = checkout
	br = branch
	dw = diff --word-diff
[push]
	default = simple
[color]
	ui = true
[core]
	editor = vim
	autocrlf = false
	eof = lf
[branch]
	autosetuprebase = always
[commit]
	template = ~/.gitmessage
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	ff = only
[mergetool]
	prompt = false
	keepBackup = false
